.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-width: 100vw;
  font-family: Raleway, sans-serif;
}

.footer {
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  padding: 2px 5px;
}

.foot-img {
  height: 25px;
}

.header, .footer {
  align-items: center;
  background-color: #7b1fa2;
  display: flex;
  width: 100%;
  /* font-family: Raleway; */
}

.header {
  color: white;
  flex-direction: column;
}

.header img, .footer img {
  filter: invert();
}

.icons-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1%;
  width: 100%;
}

.filter-principal-btn, .search-bar-btn {
  background-color: white;
  border: solid 1px #00a296;
  border-radius: 10px;
  color: #00a296;
  margin-left: 2px;
}

.search-bar-div {
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  margin: 1px 0;
  padding: 0 1px;
  width: 100%;
}

.search-text {
  border: #7b1fa2;
  border-radius: 10px;
  height: 20px;
  width: 70px;
}

.search-icon {
  background-color: #7b1fa2;
  border: 0;
}

.principal-filters-section {
  font-size: 10px;
  margin: 15px 10px;
  text-align: center;
  width: 95%;
}

.recipesList-section, .Ingredients-div, .recipes-explore-nationality {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.Ingredients-div, .recipes-explore-nationality {
  margin-top: 30px;
}


.recipe-btn, .explore-result-btn {
  background-color: white;
  border: solid 1px #00a296;
  color: #00a296;
  font-size: 10px;
  height: 17vh;
  margin: 1px 2px;
  overflow: hidden;
  width: 25%;
}

.recipe-btn p {
  margin: 0;
}

.recipe-principal-img, .explore-result-img, .done-recipe-img {
  height: 70%;
  width: 70%;
}

.recipe-section {
  font-size: 10px;
  max-width: 100%;
}

.recipe-title-btns-div {
  color: #441c55;
  display: flex;
  justify-content: space-between;
  margin-top: 1px;
  width: 90%;
}

.recipe-title-btns-div div {
  margin-top: 2px;
}

.recipe-category {
  align-self: baseline;
  color: #441c55;
  font-size: 13px;
  padding: 1%;
}

.finish-recipe-btn {
  align-self: center;
}

.share-btn, .finish-recipe-btn:enabled, .start-recipe-btn {
  background-color: white;
  border: solid 1px #00a296;
  border-radius: 10px;
  color: #00a296;
}

.finish-recipe-btn:disabled {
  border-radius: 10px;
}

.favorite-btn {
  background-color: white;
  border: 0;
}

.favorite-btn img {
  filter: invert(70%);
  width: 25px;
}

.ingredients-section {
  align-self: baseline;
  color: #441c55;
  font-size: 12px;
  padding-left: 2px;
}

.ingredients-list {
  margin: 0;
  padding: 0 15px;
}

.instructions-section {
  color: #441c55;
  padding: 2%;
}

.instructions-section p {
  font-size: 13px;
}

.recipe-image {
  height: 30vh;
  width: 100%;
}

.details-video {
  width: 80%;
}

.sugestions-section {

  /* border: solid; */
  align-self: center;
  display: flex;
  margin: 10px 0 40px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 70%;
}

.sugestions-section::-webkit-scrollbar  {
  height: 12px;
}

.sugestions-section::-webkit-scrollbar-track {
  background-color:#743d8b;
  height: 12px;

}

.sugestions-section::-webkit-scrollbar-thumb {
  background-color: #00a296;
  border-radius: 20px;
  border: 3px solid #743d8b
}

.sugestion-card {
  border: solid  1px #7b1fa2;
  border-radius: 20px;
  box-sizing: content-box;
  color: #441c55;
  font-size: 10px;
  height: 90px;
  margin: 1% 9%;
  padding: 10px;
  text-align: center;
}

.sugestion-card p {
  margin: 0;
}

.sugestion-img {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.start-recipe-btn {
  align-self: center;
  bottom: 0;
  margin-bottom: 2px;
  position: fixed;
}

.explore-selector-btn, .done-filter-btn {
  background-color: white;
  border: solid 1px #00a296;
  border-radius: 10px;
  color: #00a296;
  margin: 10px;
}

.explore-nationality-dropdrown {
  color:#00a296;
  background-color: white;
  border: 1px solid #00a296;
  border-radius: 20px;
  margin: 2px;
}

.done-recipes-section {

  /* border: solid 1px; */
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.done-recipe-card, .favorite-recipe-card {
  border: solid 1px #00a296;
  border-radius: 20px;
  color: #00a296;
  display: flex;
  font-size: 10px;
  height: 100px;
  margin-bottom: 2%;
  margin-top: 2%;
  overflow: hidden;
  width: 90%;
}

.favorite-recipe-card {
  width: 80%;
}

.done-recipe-img-a, .favorite-recipe-img-a {
  height: 100%;
  width: 50%;
}

.done-recipe-img, .favorite-recipe-img {
  height: 100%;
  width: 100%;
}

.informations-done-div, .informations-favorite-div {
  color: #441c55;
  padding: 2%;
  width: 50%;
}

.informations-done-div a, .informations-favorite-div a {
  color: #441c55;
}

.informations-done-div a:hover {
  color: #7b1fa2;
  text-decoration: none;
}

.done-recipes-section button {
  background-color: white;
  border: none;
  height: 10%;
  padding: 2%;
}

.done-share-icon, .favorite-share-icon {
  width: 20px;
}

.informations-done-div button {
  background-color: white;
  border: none;
}

.done-tags {
  background-color: #a665c2;
  border-radius: 20px;
  margin: 1%;
  padding: 2%;
}

.favorites-page-btns {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0% 20%;
}

@media screen  and ( min-width: 1024px  ) {
  .foot-img  {
    height: 50px;
  }
  
  .header {
    justify-content: center;
  }

  .header h4 {
    font-size: 50px;
  }
  
  .header img {
    height: 50px;
  }

  .header, .footer{
    min-height: 70px;
  }

  .search-bar-div {
    width: 500px;
    font-size: 15px
  }

  .search-text {
    width: 30%;
  }

  .principal-filters-section {
    font-size: 20px;
  }

  .filter-principal-btn, .search-bar-btn {
    margin: 1px 5px;
  }

  .recipe-section {
    max-width: 600px;
    padding: 2%;
    border: #00a296 solid 2px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .details-video {
    margin: 2% 0%;
    width: 600px;
  }

  .sugestions-section {
    width: 600px;
    border: #00a296 solid 2px;
    border-bottom: none;
  }

  .sugestion-card {
    height: none;
    width: 150px;
    margin:  1% 5%;
  }

  .start-recipe-btn {
    width: 500px;
  }

  .finish-recipe-btn {
    font-size: 15px;
  }

  .done-recipe-card, .favorite-recipe-card {
    width: 450px;
    height: 110px;
    margin: 0.5%;
  }

  .favorite-recipe-card p {
    margin-bottom: 5px;
  }

  .recipes-explore-nationality  {
    max-width: 600px;
    align-self: center
  }


}

@media screen and (min-width: 1920px) {

  .recipesList-section, .Ingredients-div {
    width: 60%;
    align-self: center;
  }
  
}

@font-face {
  font-family: Raleway;
  src: url('./fonts/Raleway-VariableFont_wght.ttf');
}

