@media screen and ( max-width : 768px ) {
  .page {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    border: solid blue;
    align-items: center;
  }

  .details-video{
    width: fit-content;
  }
  .sugestions-section {
    display: flex;
    overflow-x:scroll;
    width: 70%;
    align-self: center;
    margin: 10px 0 40px;
    /* border: solid; */
  }
  
  .sugestion-card {
    margin:  0 25px;
    width: 100px;
    height: 100px;
    border: solid blue;
    text-align: center;
    box-sizing:content-box;
    padding: 10px;
    font-size: 10px;
  }
  .details-img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
  }
}
.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.start-recipe-btn {
  bottom: 0;
  position: fixed;
  align-self: center;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
